 div{
            z-index: 1;
            background-color: white;
            width: 600px;
            height: 250px;
            display: inline-block;
        }
        .randc{
            background-color: lightskyblue;
            color: white;
            float: right;
            width: 10%;
            height: 50px;
            
        }
        .musical{
            display: inline-block;
            width: 20%;
            height: 210px;
            margin: 2%;
        }
        
        td{
            height: 20px;
            border: 1px solid black;
        }
        
        table{
            width: 100%;
        }
        
        .already{
            background-color: gray;
        }